<main>
    <article class="article-details">
        <h1>{{ article.title }}</h1>
        <div class="article-details-subtitle">
            <p>{{ article.publicationDate | date: 'longDate' : '+0000' }}</p>
            <p>{{ article.author.username }}</p>
            <ul>
                <li class="theme" *ngFor="let theme of article.themes">
                    {{ theme.name }}
                </li>
            </ul>
        </div>
        <p class="article-content">{{ article.content }}</p>
        <hr class="separator" style="margin-top: 3rem;">
        <section>
            <h3>Commentaires</h3>
            <ul>
                <li *ngFor="let comment of article.comments | sortByDatePipe:'publicationDate':'asc'" class="comment-card-container">
                    <mat-card class="comment-card">
                        <mat-card-header>
                            <mat-card-title>{{ comment.author.username }}</mat-card-title>
                            <mat-card-subtitle>{{ comment.publicationDate | date: 'longDate' : '+0000' }}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            {{ comment.content }}
                        </mat-card-content>
                    </mat-card>
                </li>
            </ul>
        </section>
        <section>
            <app-comment-form [articleId]="article.id" (commentSubmitted)="addComment($event)"></app-comment-form>
        </section>
    </article>
</main>
