@import '../../../../styles/styles.scss';

.article-details {
    padding: 3rem 14rem;

    h1 {
        font-size: 32px;
    }

    .comment-card-container {
        list-style-type: none;
        margin: auto;

        .comment-card {
            margin-bottom: 1rem;
            background-color: #F5F5F5;
            box-shadow: none;
            border: none;
            padding: 1rem;
        }
    }

    .article-details-subtitle {
        margin: 2rem 0;
        width: 50%;
        display: flex;
        font-size: 16px;
        justify-content: space-between;
        align-items: center;

        p {
            margin: 0
        }

        ul {
            padding: 0;
            display: flex;
            align-items: flex-start;

            li {
                list-style: none;
                margin: 0 0.5rem;
                padding: 0;
            }
        }
    

        .article-content {
            margin-bottom: 10rem;
        }

        .separator {
            display: block;
            width: 20%;
        }

        @include respond-to(small) {
            width: 100%;
            font-size: 12px;

        }
    }

    @include respond-to(small) {
        padding: 2rem;
    }
}