@import "../../../../styles/styles.scss";


.comment-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-group {
    width: 90%;

}


svg {


    @include respond-to(small) {
        width: 80px
    }

    @include respond-to(xsmall) {
        width: 80px
    }
}
