@import '../../../../styles/styles.scss';

.userInfo-form{
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;


    button {
        margin: auto;
        background-color: #7763C5;
        color: #fff;
    }
    
    .form-group {

        @include respond-to(xsmall) {
            padding: 1.5rem;
            margin: auto;
        }

        @include respond-to(small) {
            padding: 1.5rem;
            margin: auto;
        }
    }


    
}