@import "../../../styles/styles.scss";

.themes {
    padding: 2rem 2rem;

    .theme-buttons-group {
        display: flex;
        justify-content: space-between;
    }

    button {
        background-color: #7763C5;
        color: #fff;
    }

    .sort-button {
        border: none;
        background-color: transparent;
        color: #000;
    }
}

.center {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr; /* This creates two columns of equal width */
    gap: 20px; /* Optional: Adds space between the columns */

    @include respond-to(xsmall) {
        grid-template-columns: 1fr;
    }

    @include respond-to(small) {
        grid-template-columns: 1fr;
    }

    div {
        

        @include respond-to(xsmall) {
            margin: 1rem 0;
        }
        @include respond-to(small) {
            margin: 1rem 0;
        }
    }

   
  }
  