@import "../../../styles/styles.scss";

.articles {
    padding: 3rem 2rem;


    .article-buttons-group {
        display: flex;
        justify-content: space-between;
    }

    button {
        display: flex;
        align-items: center;
        padding: 0.5rem 1rem;
        background-color: #7763c5;
        color: #fff;
        font-size: 1em;
        font-weight: bold;
    }

    .sort-button {
        border: none;
        font-weight: 700;
        text-align: right;
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
        background-color: transparent;
        color: #000;
        margin: 0;
        padding: 0;

        span {
            margin: auto 0;
            display: inline-block;
        }
        .sort-button-icon {
            margin-left: 0.5rem;
        }
        .sort-button-icon-asc {
            transform-origin: 50% 50%; /* Rotates around the center */
            transform: rotate(180deg);
        }
        .sort-button-icon-desc {
            transform-origin: 50% 50%; /* Rotates around the center */
            transform: rotate(0deg);
        }
    }

    @include respond-to(xsmall) {
        .article-buttons-group {
            flex-direction: column;
            align-items: center;
        }
    }

    @include respond-to(small) {
        .article-buttons-group {
            flex-direction: column;
            align-items: center;
        }
    }
}

.center {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr; /* This creates two columns of equal width */
    gap: 20px; 
    place-items: center;/* Optional: Adds space between the columns */


    @include respond-to(xsmall) {
        grid-template-columns: 1fr;
        gap:0;
    }

    @include respond-to(small) {
        grid-template-columns: 1fr;
        gap:0;
    }
}
