<mat-card class="article-card" (click)="onCardClick(article.id)">
  <mat-card-header>
    <mat-card-title class="article-card-title">{{ article.title }}</mat-card-title>
  </mat-card-header>
  <div class="article-card-subtitle">
    <mat-card-subtitle>{{ article.publicationDate | date: 'longDate' : '+0000' }}</mat-card-subtitle>
    <mat-card-subtitle>{{ article.author.username }}</mat-card-subtitle>
  </div>
  <mat-card-content>
    {{ article.description | slice:0:500 }}{{article.description.length > 500 ? '...' : ''}}
  </mat-card-content>
  </mat-card>