@import "../../../../styles/styles.scss";

.article-card {
    width: 100%;
    height: 100%;
    border: none;
    background-color: #F5F5F5;
    box-shadow: none;
    padding: 3rem;
    cursor: pointer;

    .article-card-title{
        width: 100%;
        font-size: 24px;
        font-weight: 700;
    }

    .article-card-subtitle {
        margin: 1rem 0;
        text-align: center;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    @include respond-to(xsmall) {
        margin: 1rem 0;
        height: max-content;
        padding: 1.5rem;
    }

    @include respond-to(small) {
        margin: 1rem 0;
        height: max-content;
    }
}

