@import '../styles/styles.scss';


.overlay {
    display: none; /* Hidden by default */
    position: fixed; /* Cover the entire site */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 1; /* Ensure it's behind the sidebar (which should have a higher z-index) */
    transition: 0.5s; /* Fade in/out */
  }
  
  /* The class to show the overlay */
  .overlay-show {
    display: block;
  }
  