@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

$my-custom-typography: mat.define-typography-config(
  $font-family:  'Inter Arial, Tahoma, sans-serif',
);

@include mat.core($my-custom-typography);


@mixin respond-to($breakpoint) {
  @if $breakpoint == xsmall {
    @media (max-width: 359px) {
      @content;
    }
  } @else if $breakpoint == small {
    @media (min-width: 360px) and (max-width: 767px) {
      @content;
    }
  } @else if $breakpoint == medium {
    @media (min-width: 768px) and (max-width: 1023px) {
      @content;
    }
  } @else if $breakpoint == large {
    @media (min-width: 1024px) {
      @content;
    }
  } @else if $breakpoint == xlarge {
    @media (min-width: 1280px) {
      @content;
    }
  } @else if $breakpoint == xxlarge {
    @media (min-width: 1536px) {
      @content;
    }
  }
}



*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  // font-family: "Inter", "Helvetica Neue", sans-serif;
}

.mat-card-header-text {
  margin: 0 !important;
}


button {
  width: 139px;
}

.snackbar-success {
  background-color: #7763c5;
  color: #fff;
}