.center {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.buttons {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    color: #000;  
  }
}
