@import "../../../styles/styles.scss";

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #fff;
    border-bottom: 1px solid black;

    a {
        text-decoration: none;
        color: black;
    }
    .active {
        color: #7763c5;
        stroke: #7763c5 !important;
        stroke-width: 4;
    }

    .unActive {
        color: black;
        stroke: black;
        stroke-width: 2;
    }

    .example-icon {
        padding: 0 14px;
    }


   
}
.nav-hidden {
    @include respond-to(small) {
        display: none;
    }
}



.logo {
    width: 50px;
    height: 50px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;

    @include respond-to(xsmall) {
        display: none;
    }

    @include respond-to(small) {
        display: none;
    }

    @include respond-to(medium) {
        width: 30%;
    }

    @include respond-to(large) {
        padding-right: 1rem;
        width: 23%;
    }
}

.menu-button-icon {
    background-color: transparent;
    border: none;
    width: 10%;
    padding-right: 2.5rem;

    @include respond-to(small) {
        display: block;
    }

    @include respond-to(medium) {
        display: none;
    }

    @include respond-to(large) {
        display: none;
    }
}
